<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2024 Attila Sagi
 * @license http://www.opensource.org/licenses/mit-license.html  MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ContactGraphQl\Model\Resolver\ContactUs">
        <plugin name="keep_contacts_graph_ql_contact_us_plugin"
                type="Space\KeepContactsGraphQl\Plugin\ContactGraphQl\Model\Resolver\ContactUsPlugin"
                sortOrder="10"
        />
    </type>
</config>
